.weather-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
  overflow: hidden;
}

.sunny-bg {
  background-image: url("assets/images/sunny.jpg");
}
.cloudy-bg {
  background-image: url("assets/images/cloudy.jpg");
}
.rainy-bg {
  background-image: url("assets/images/rainy-2.jpeg");
}
.snowy-bg {
  background-image: url("assets/images/snowy.jpeg");
}
.storm-bg {
  background-image: url("assets/images/storm.jpg");
}
.mist-bg {
  background-image: url("assets/images/mist.jpg");
}
.fog-bg {
  background-image: url("assets/images/fog.jpg");
}
.default-bg {
  background-image: url("assets/images/main.jpg");
}
.favorite-bg {
  background-image: url("assets/images/favorite.jpg");
}
